<div class="row">
  <div class="col-xs-2">
    <button type="button" class="btn btn-default home-button">
      <span class="glyphicon glyphicon-th-list"></span>
    </button>
  </div>
  <div class="col-xs-8">
    <div class="header">
      <h1>{{script.title}}</h1>
    </div>
  </div>
  <div class="col-xs-2">
    <button type="button" class="btn btn-default fullscreen-button">
      <span class="glyphicon glyphicon-resize-full"></span>
    </button>
  </div>
</div>

<div class="row" id="program">
  <div class="col-xs-12 col-xs-offset-0">

      {{#if hasPrelude}}
        <div class="row">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <h3>Description</h3>
              <p>{{script.description}} [<a href="{{script.source}}">link</a>]</p>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <h3>Cast</h3>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-1 col-xs-offset-2">
              <img src="/images/coffee.svg" class="recipe-icon">
            </div>
            <div class="col-xs-3">
              <p>{{script.ingredients.coffee}}</p>
            </div>

            <div class="col-xs-1">
              <img src="/images/grinder.svg" class="recipe-icon">
            </div>
            <div class="col-xs-3">
              <p>{{script.ingredients.grind}}</p>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-1 col-xs-offset-2">
              <img src="/images/water.svg" class="recipe-icon">
            </div>
            <div class="col-xs-3">
              <p>{{script.ingredients.water}}</p>
            </div>

            <div class="col-xs-1">
              <img src="/images/timer.svg" class="recipe-icon">
            </div>
            <div class="col-xs-3">
              <p>{{script.ingredients.time}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <h3>Prelude</h3>
              <p>{{script.prelude}}</p>
            </div>
          </div>

        </div>
      <div class="row">
        <p class="text-center" id="start-button-box">
          <button type="button" class="btn btn-primary btn-lg" id="start-button">Begin</button>
        </p>
      </div>
    </div> 
      {{/if}}

    </div>


  </div>

</div>
